.boxes-container {
  color: white;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  grid-gap: 1px;
  grid-template-areas:
      "box1  box1  box2 box9"
      "box3  box4  box5 box9"
      "box6  box7  box8 box9";
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.box1 {
  background-color: #B9B9BE;
  box-sizing: border-box;
  grid-column: 1/3;
  grid-row: 1/1;
}

.box2 {
  background-color: #BBD5E2;
  grid-column: 3/3;
  grid-row: 1/1; 
}

.box3 {
  background-color: #698A9D;
  grid-column: 1/1;
  grid-row: 2/2;
}

.box4 {
  background-color: #EDB964;
  grid-column: 2/2;
  grid-row: 2/2;
}

.box5 {
  background-color: #B9B9BE;
  grid-column: 3/3;
  grid-row: 2/2;
}

.box6 {
  background-color: #737375;
  grid-column: 1/1;
  grid-row: 3/3;
}

.box7 {
  background-color: #698A9D;
  grid-column: 2/2;
  grid-row: 3/3;  
}

.box8 {
  background-color: #737375;
  grid-column: 3/3;
  grid-row: 3/3; 
}

.box9 {
  background-image: url("andrew-umansky-714774-unsplash.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  grid-column: 4/4;
  grid-row: 1/4;
  justify-content: space-between;
}

/*shared styling for all of the boxes*/
.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.box:hover {
  filter:  brightness(110%);
}

/*icons*/
i {
  margin-bottom: 1rem;
}

i:hover {
  cursor: pointer;
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
  align-self: center;
  margin: 1rem;
}

/*text in box1*/
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-right: auto;
  padding-left: 1rem;
}

.p1 {
  font-family: 'Roboto', sans-serif;
  margin: .3rem;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*container for resume and contact buttons*/
.buttons-box1 {
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  justify-content: start;
  margin: 1rem auto 0.5rem 1rem;
}

.resume {
  border: solid 2px white;
  margin-right: 1rem;
  padding-right: 1rem;
  padding-top: .8rem;
}

.resume:hover {
  cursor: pointer;
}

.contact {
  border: solid 2px white;
  padding-right: 1rem;
  padding-top: .8rem;
}
  
.contact:hover {
  cursor: pointer; 
}

.fa-download, .fa-info {
  margin-right: .5rem;
  padding-left: 1rem;
}

/*container for icons on background image*/
.arrows {
  display: flex;
  justify-content: space-between;  
}

.loading-dots {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.circle1, .circle2 {
  padding-right: .1rem;
}

/*query for iphone 5*/
@media screen and (max-width: 700px) {
  
.boxes-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "box1  box1  box2"
      "box3  box4  box5"
      "box6  box7  box8"
      "box9  box9  box9";
  }

.box3, .box4, .box5, 
.box6, .box7, .box8 {
  height: 180px;
}

.box9 {
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/4;
  grid-row: 4/4;
  height: 600px;
  width: 100%;
}

i {
  padding: 10px;
}

h1 {
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 20px;
}

.p1 {
  font-size: 14px;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 2px;
}

.buttons-box1 {
  margin-right: .8rem;
  padding-bottom: 20px;
}

.resume {
  border: solid 2px white;
  height: 40px;
  margin-left: 0rem;
  margin-right: .2rem;
  padding-right: 5px;
  padding-top: 0px;
  width: 95px;
}

.contact {
  border: solid 2px white;
  height: 40px;
  margin-left: 0rem;
  margin-right: .3rem;
  padding-right: 5px;
  padding-top: 0rem;
  width: 95px;
}

.fa-download {
  margin-right: .5px;
  padding-left: 5px;
}

.fa-info {
  margin-right: .5px;
  padding-left: 5px;
}

.circle1, .circle2, .circle3 {
  padding: .01rem;
}

}

/*media query for ipad portrait*/
@media only screen and (max-width: 1025px) and (min-width: 768px) 
and (orientation: portrait) {

.boxes-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "box1  box1  box2"
      "box3  box4  box5"
      "box6  box7  box8"
      "box9  box9  box9";
}

.box3, .box4, .box5, 
.box6, .box7, .box8 {
  height: 180px;
}

.box9 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  grid-column: 1/4;
  grid-row: 4/4;
}

i {
  padding: 10px;
}

h1 {
  margin-top: 25px;
}

.resume {
  height: 40px;
  margin-bottom: 20px;
  padding-top: 5px;
}

.contact {
  height: 40px;
  margin-bottom: 20px;
  padding-top: 5px;
}

.circle1, .circle2, .circle3 {
  padding: .1rem;
}

}

/*media query for large screens*/
@media screen and (min-width: 1500px) {

h1 {
  font-size: 3rem;
}

.p1 {
  font-size: 1.3rem;
}

.resume, {
  font-size: 1.2rem;
  height: 2rem;
}

.contact {
  font-size: 1.2rem;
  height: 2rem;
}

#two, #three, #four, 
#five, #six, #seven, #eight {
  font-size: 5em;
  margin-bottom: 1.5rem;
}

.icon-text {
  font-size: 1.3em;
}


}
